{% extends "_base.html" %}
{% block body %}
<h1>Управление счетчиками</h1>
{% if counters %}
    <ul>
    {% for counter in counters %}
        <li>
            <a href="{% url 'app_counter:set_favorit' counter.id  %}">Счетчик #{{counter.id}} - Значение: {{counter.value}} - Главный: {{counter.is_favorite}} </a>
        </li>

    {% endfor %}
    </ul>

{% endif %}
<br>
<a href="{% url 'app_counter:create_counter' %}">Создать счетчик</a>
<br>
<a href="{% url 'app_counter:index' %}">На главную</a>
{% endblock %}